h2.section-heading {
    font-size: 60px !important;
}

h3.section-subheading{
    font-size: 30px !important;
}

.modal-body dt {
    font-size: 25px;
}

.modal-body dd {
    font-size: 22px;
}

.page-section#calc {
    background-color: #212529;
    background-image: url(../img/map-image.png);
    background-repeat: no-repeat;
    background-position: center;
}

.page-section#calc h2.section-heading {
    color: #FFFFFF;
}

.calc-label {
    color: #FFFFFF;
}

.form-control {
    color: #000000;
}